/* Page background */
.login-container {
  min-height: 100vh;
  width: 100%;
  background: linear-gradient(135deg,#7e7f84, #110f13);
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
}
body {
  margin: 0;
  padding: 0;
}
/* Card */
.login-card {
  background: #ffffff;
  padding: 35px 40px;
  width: 350px;
  border-radius: 10px;
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.15);
}

.error-message {
  background-color: #ffe5e5;
  color: #d8000c;
  padding: 10px;
  margin-bottom: 15px;
  border-radius: 6px;
  font-size: 14px;
  text-align: center;
  border: 1px solid #ffb3b3;
}


/* Heading */
.login-card h2 {
  text-align: center;
  margin-bottom: 25px;
  color: #333;
}

/* Inputs */
.login-card input {
  width: 100%;
  padding: 10px 12px;
  margin-bottom: 15px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 14px;
  outline: none;
  transition: border 0.2s;
}

.login-card input:focus {
  border-color: #667eea;
}

/* Button */
.login-card button {
  width: 100%;
  padding: 10px;
  background: #667eea;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 15px;
  font-weight: bold;
  cursor: pointer;
  transition: background 0.3s;
}

.login-card button:hover {
  background: #5a67d8;
}

/* Small screens */
@media (max-width: 480px) {
  .login-card {
    width: 90%;
  }
}
